{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      Million years lab
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>
  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- else }}
  No content
  {{- end }}

</article>

{{- end }}{{/* end main */}}
